.travel {
  width: 100%;

  .pic {
    width: 100%;
    height: 300px;
    background: url("./travel-bg.jpg") no-repeat center center;
  }

  .content {
    width: 100%;
    padding: 40px;

    .card {
      display: flex;

      .image {
        width: 400px;
        height: 200px;
        overflow: hidden;

        &:hover {
          img {
            transform: scale(1.2);
            transition: all 1s;
          }
        }
      }

      .text {
        p {
          text-indent: 2em;
        }
      }
    }
  }
}
